* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

:root {
    --option-selected:#3a7bfd;
    --gradient:#57ddff to #c058f3;
    /* light */
    
    --Gray300: #d2d3db;
    --Navy850: #484b6a;
    
    /* dark */
    --header-color: #fafafa;
    --background-page-dark: #161722;
    --background-list: #25273c;
    --background-image-dark-mobile: url(./images/bg-mobile-dark.jpg); 
    --background-image-dark-desktop: url(./images/bg-desktop-dark.jpg); 
    --main-todo-color: #cacde8;
    --hover-color: #e4e5f1;
    --completed-todo: #5c5f7f;
    --Purple700: #4d5066;
    --Purple800: #393a4c;
    --Gra600: #9394a5;
}

/* 
Main Container
==============
 */

.container {
    width: 100vw;
    height: 100vh;
    padding-top: 70px;
    background-color: var(--background-page-dark);
    background-image: var(--background-image-dark-mobile);
    background-repeat: no-repeat;
    background-size: 100% 35%;
    background-position: center top;
}

.container.light {
    background-color: var(--hover-color);
    background-image: url(./images/bg-desktop-light.jpg);
}

main {
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--header-color);

}

h1 {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 10px;
}

.switch_icon {
    width: 10px;
    height: 10px;
    background-color: var(--header-color);
    mask-image: url(./images/icon-sun.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100%;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.switch_icon.light {
    mask-image: url(./images/icon-moon.svg);
}

.switch_icon:hover {
    background-color: #ffeb3b;
    transform: scale(1.3) ;
}

.switch_icon.light:hover {
    background-color: #5c5f7f;

}

.input_container {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--background-list);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.input_container.light {
    background-color: var(--header-color);
}

.input_container .icon_container {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid var(--Purple800);
    transition: all 0.3s;
}

.input_container.light .icon_container {
    border: 1px solid var(--hover-color);
}

.input_container .icon_container .icon {
    width: 100%;
    height: 100%;
    display: inline-block; 
    background-color: #0fde49;
    mask-image:  url(./images/plus.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 15px;
    opacity: 0.1;
    cursor: pointer;
    transition: all 0.15s linear;
}

.input_container .icon_container:hover .icon {
    opacity: 1;
    transform: rotate(90deg);
}

.input_container  input {
    display: inline-block;
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    caret-color: #57ddff;
    color: var(--main-todo-color);
}

.input_container.light  input {
    color: var(--completed-todo);
}

input:focus {
    outline: none;
}

.todos_container {
    background-color: var(--background-list);
    color: var(--main-todo-color);
    border-radius: 5px 5px 0 0;
    /* overflow: hidden; */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.todos_container.light {
    background-color: var(--header-color);
    color: var(--completed-todo);
}

.todos_container .todo_item {
    padding: 15px;
    display: flex;
    font-weight: 300;
    font-size: 13px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Purple800);
    animation: todoItemInmation 0.3s ease-in-out forwards;
}

.todos_container.light .todo_item {
    border-bottom: 1px solid var(--main-todo-color);
}

@keyframes todoItemInmation {
    from {
        opacity: 0;
        filter: blur(6px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
    }
}

.todos_container .todo_item .icon_container {
    width: 20px;
    height: 20px;
    background-image: linear-gradient(120deg,#57ddff, #c058f3);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.todos_container .todo_item .icon_container .icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--header-color);
    mask: url(../images/icon-check.svg) no-repeat center;
    z-index: 0;
}

.todos_container .todo_item .icon_container::before {
    content: "";
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 50%;
    outline: 2px solid var(--Purple800);
    background-color: var(--background-list);
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 10;
    transition: all 0.2s;
}

.todos_container.light .todo_item .icon_container::before {
    outline: 2px solid var(--hover-color);
    background-color: var(--header-color);
}

.todos_container .todo_item .icon_container.checked::before {
    opacity: 0;
}

.todos_container .todo_item .icon_container:hover::before {
    outline-color: transparent;
}

.todos_container .todo_item .info {
    flex: 1;
    margin-left: 15px;
}

.todos_container .todo_item .icon_container.checked + .info {
    color: var(--completed-todo);
    text-decoration: line-through;
}

.todos_container.light .todo_item .icon_container.checked + .info {
    color: var(--main-todo-color);
}


.todos_container .todo_item .control_item {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--completed-todo);
    mask: url(../images/icon-cross.svg) no-repeat center;
    mask-size: 100%;
    border: 1px solid red;
    cursor: pointer;
    transition: all 0.3s;
}

.todos_container.light .todo_item .control_item {
    background-color: var(--Gray300);
}

.todos_container .todo_item .control_item:hover {
    transform: rotate(180deg) scale(1.1);
    background-color: red;
}

.todos_container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    background-color: var(--background-list);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    color: var(--completed-todo);
    font-size: 12px;
    position: relative;
    display: none;
}


.todos_container_footer.light {
    background-color: var(--header-color);
    color: var(--Gra600);
}

.todos_container_footer .choices {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-list);
    gap: 15px;
    position: absolute;
    bottom: -65px;
    right: 0px;
}

.todos_container_footer .choices.light {
    background-color: var(--header-color);
    color: var(--Gra600);
}

.todos_container_footer .left_todos_container,
.todos_container_footer span {
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
}

.todos_container_footer .left_todos_container:hover,
.todos_container_footer span:hover {
    color: var(--Gray300);
}

.todos_container_footer.light .left_todos_container:hover,
.todos_container_footer.light span:hover {
    color: var(--completed-todo);
}

.todos_container_footer .choices span.selected {
    color: var(--option-selected);
}

@media (min-width: 600px) {
    .container {
        background-image: var(--background-image-dark-desktop);
    }
    .container.light {
        background-image: url(./images/bg-mobile-light.jpg);
    }
    main {
        max-width: 600px;
    }
    main::after {
        font-size: 14px;
        bottom: -70px;
    }
    h1 {
        font-size: 30px;
    }

    .todos_container .todo_item{
        font-size: 17px;
    }
    .todos_container_footer {
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    }
    .todos_container_footer .choices {
        right: 170px;
        bottom: 0;
        width: fit-content;
        box-shadow: none;
    }
}

